


/* Breaks points 991 px */
/* For Laptop/ large device */
@media screen and (max-width:991px) {
    h3{
        font-size: 1.2rem;
    }

    .nav-wrapper{
        overflow: initial;
    }
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }

    .nav-links{
        position: absolute;
        background-color: #ffffff;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        border-bottom: 3px solid orangered;
        transition: 0.3s ease-in-out;
    }

    .nav-links.active{
        left: 0;
    }
    .nav-links ul{
        flex-direction: column;
    }
    /* example section */
    .example-area{
        gap: 20px;
    }
    .example-card{
       width: calc(50% - 10px);
      height: 180px;
       
    }

    /* cta section */

    .cta-section{
        padding-block:80px;
        text-align: center;
}
}

/* Breaks points 776 px */

@media screen and (max-width:776px) {
    
    .primary-btn{
        width: 100%;
        text-align: center;
    }

    .header-wrapper{
        flex-direction: column-reverse;
    }
    .header-left{
        max-width: 100vw; 
        text-align: center;  
    }


    /* feature section */
    .features-card{
        min-width:calc(50% - 10px);
    }

    /* big feature section */
    .big-feature-section-wrapper, #big-feature-section-wrapper-middle{
        flex-direction: column;
    }

    /* example section */

    .example-section-header{
        text-align: center;
    }

    /* footer */

    .footer-wrapper{
        flex-direction: column;
        gap: 40px;
        align-items: center;
        
    }

    .link-colum{
        align-items: center;
        
    }
}

/* breaks points 479 px */
@media screen and (max-width:479px) {

    :root{
        --pading-inline-section:10px;
    }

    h1{
        font-size: 2rem; 
     }
     h2{
         font-size: 1.5rem;
     }
    
     p{
         font-size: 1rem;
     }

     /* feature section */
    .features-card{
        min-width:100%;
    }


    /* example section */
    
    .example-card{
       width:100%;
       
    }

}